html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-family: arial, sans-serif;
    margin: 0;
    height: 100%;
}
.header-link:hover {
    text-decoration: underline;
    opacity: 0.75;
}
.header-link {
    text-decoration: none;
    color: #000;
    opacity: 0.85;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
}
#about {
    padding-left: 13px;
}
#sign-in {
    background: #2874ec;
    color: #fff;
    font-weight: bold;
    border-radius: 5%;
    border: 0px;
    padding: 6px 12px 6px 12px;
    margin-right: 23px;
    margin-left: 10px;
}
#sign-in:hover {
    box-shadow: 0.5px 0.5px grey;
}
#apps {
    opacity: 0.6;
}
#apps:hover {
    opacity: 1;
}
#header-left {
    display: flex;
}
#header-right {
    display: flex;
    align-items: center;
}
header {
    display: flex;
    margin-top: 18px;
    align-items: center;
    justify-content: space-between;
}
#logo {
    display: block;
    margin: auto;
    margin-top: 175px;
}
@media (max-height: 500px) {
    #logo {
        margin-top: 50px;
        transition: margin-top 1s;
    }
}
#search-bar {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    width: 500px;
    border: 1px solid rgba(211, 211, 211, 0.63);
    border-radius: 100px;
    padding: 10px 0px 10px 20px;
}
#mag {
    height: 15px;
    opacity: 0.5;
}
#search {
    border: none;
    padding-left: 10px;
    width: 450px;
    font-size: 16px;
    font-family: arial, sans-serif;
    background: #fff;
}
@media (max-width: 600px) {
    #search-bar {
        width: 80%;
    }
    #search {
        width: 80%;
    }
    #bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
}
#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.search-button {
    background: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    padding: 10px 16px;
    font-size: 14px;
    font-family: arial, sans-serif;
}
.search-button:hover {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    cursor: pointer;
}
#country {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 15px 23px;
}
footer {
    background: #f2f2f2;
    border-bottom: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    width: 100%
}
.footer-link {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-link:hover {
    text-decoration: underline;
}
#bottom {
    padding: 15px 13px;
    display: flex;
    justify-content: space-between;
}